.modalDiv {
    /* overlay */
    display: none;
    /* display: block; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    transition: opacity linear .2s;
    z-index: 9999999999;
}

.modalDiv.open {
    display: block;
}

.opt-modal-content {
    /* modal */
    padding: 20px;
    position: relative;
    background: #fff;
    width: 380px;
    height: 460px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    transition: opacity linear .2s;
}

.modal-content {
    /* modal */
    position: relative;
    background: #fff;
    width: 480px !important;
    height: 800px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
    justify-content: center;
    text-align: center;
    border-radius: 8px !important;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    transition: opacity linear .2s;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    margin: 2rem;

}

#container {
    max-width: 560px;
    margin: auto;
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0;
}

.cta {
    margin-top: 1rem;
}